*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.absolute{
    position: absolute;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

html, body{
    height: 250px;
    width: 300px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


.slide_1,.slide_2,.slide_3{
    height: 250px;
    width: 300px;
    cursor: pointer;
    overflow: hidden;
    top: 0;
    left: 0;
}

.slide_1{
    background-image: url("images/bg1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.slide_2{
    background-color: grey;
}

.slide_3{
    background-image: url("images/bg3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.teamA_flag,.teamB_flag{
    height: 55px;
    width: 55px;
    /*background-size: 55px 55px;*/
    /*background-repeat: no-repeat;*/
    top: 183px;
}


.flag_animate{
    animation: btos 1.5s ease infinite;
}

@keyframes btos {
    0%,100%{transform: scale(0.9)}
    50%{transform: scale(1)}
}

.teamA_flag{
    /*background-image: url("images/1.png");*/
    left: 170px;
}

.teamB_flag{
    /*background-image: url("images/2.png");*/
    right: 5px;
    animation-direction: reverse;
}

.flag{
    height: 55px;
    width: 55px;
}

#vid{
    height: 250px;
    width: 300px;
    top: 0;
    left: 0;
    z-index: 98;
}

.vid-overlay{
    width: 100%;
    height: 75px;
    background-color: transparent;
    z-index: 99;
    bottom: 0;
}

.vid_full{
    width: 300px;
    height: 62px;
    z-index: 101;
    background-color: white;
    bottom: 0px;
    left: 0px;
}

.link_text{
    height: 60px;
    width: 300px;
    background-image: url("images/link.png");
    background-size: 100%;
}

.teamA_icon,.teamB_icon{
    height: 35px;
    width: 35px;
    /*background-size: 35px 35px;*/
    /*background-repeat: no-repeat;*/
    bottom: 10px;
}

.teamA_icon{
    /*background-image: url("images/1.png");*/
    left: 15px;
}

.teamB_icon{
    /*background-image: url("images/2.png");*/
    right: 15px;
}

.icon{
    height: 35px;
    width: 35px;
}

.predict_box1{
    height: 20px;
    width: 50px;
    background-color: red;
    bottom: 20px;
    left: 75px;
    border-radius: 10px;
    text-align: left;
    padding-left: 10px;
    z-index: 103;
}


.predict_box2{
    height: 20px;
    width: 150px;
    background-color: blue;
    bottom: 20px;
    left: 75px;
    border-radius: 10px;
    text-align: right;
    padding-right: 10px;
}